@import "tailwindcss";

:root {
  color-scheme: light;
}

html {
  scroll-behavior: smooth;
}

@layer base {
  body {
    @apply bg-white text-slate-900 antialiased;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
